/*

>>Link Code Pen:  😍😍😍😍

https://codepen.io/themesexpert1986/pen/rNOvYEx?editors=1100

*/
body {
    margin: 0;
}

.red {
    background-color: red;
    left: 200px;
    position: absolute;
}

.blue {
    background-color: blue;
    left: 100px;
    position: absolute;
}

.yellow {
    background-color: yellow;
    position: absolute;
}

.box-size {
    height: 100px;
    width: 100px;
}